// Import page-specific CSS files here.
@import "home";


body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wraper {
  flex-grow: 1;
}

.nameandprice p {
  margin: 0%;
}
