<body class="text-center">
    <div class="mt-5">
        <h1>My bookings</h1>
    </div>
<div class="wraper center-middle">
<% if @bookings.any? %>
  <table class="table table-white">
    <thead>
      <tr>
        <th>Bike</th>
        <th>Check-in</th>
        <th>Check-out</th>
      </tr>
    </thead>
    <tbody>
      <% @bookings.each do |booking| %>
        <tr>
          <td><%= booking.bike.name %></td>
          <td><%= booking.checkin %></td>
          <td><%= booking.checkout %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No bookings available.</p>
<% end %>
</div>
