<div class="container">
  <div class="row">
    <% @bikes.each do |bike| %>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
        <%= link_to bike_path(bike), class: "text-decoration-none" do %>
          <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
            <%= bike.name %>
          </div>
        <% end %>
      </div>
    <% end %>
