.card-category {
  height: 200px;
  width: 100%;
  background-color: black;
  border-radius: 4px 4px 0 0;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;

}

.card-bike {
  box-shadow: 0 0 16px rgba($color: #000000, $alpha: 0.1);
  border-radius: 4px;
}
